body {
    background-color: black;
}

.card_dimention_imge {
    height: 400px;
    width: 100%;
}

.card_movie {
    background-color: green;
    height: 700px;
}

.card_overview {
    height: 150px;
    overflow-y: auto;
}